<!doctype html>
<html class="no-js " lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title </title>
    <link rel="icon" href="favicon.ico">
    <!-- start linking -->
    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/plugins/aos/aos.min.css">
    <link rel="stylesheet" href="~/css/main.css">
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div id="loading" class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" src="~/images/loader.svg" width="48" height="48" alt="Oreo"></div>
            <p>Please wait...</p>
        </div>
    </div>

    <div class="wrapper">
        <!-- start loading -->
        <div class="main_header">
            <section id="top-nav">
                <div class="container">
                    <div class="top">
                        <div class="row">
                            <div class="col-lg-6 col-md-7">
                                <div class="left">
                                    <ul class="list-unstyled m-b-0">
                                        <li>
                                            <a href="" class="btn btn-link"><i class="zmdi zmdi-email m-r-5"></i>info@example.com</a>
                                            <a href="" class="btn btn-link">
                                                <i class="zmdi zmdi-phone m-r-5"></i>+
                                                202-555-0191
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-5">
                                <div class="text-right">
                                    <ul class="list-unstyled m-b-0">
                                        <li>
                                            <a href="user/login" class="btn btn-link">Sign in</a> <a href="#" class="btn btn-link">
                                                sign
                                                up
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <header id="header">
                <div class="container">
                    <div class="head">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="left">
                                    <a href="index.html" class="navbar-brand"><img src="~/images/NCPDP_Logo.png" alt="logo"></a>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="text-right hidden-md-down">
                                    <p class="col-white m-b-0 p-t-5">
                                        <i class="zmdi zmdi-time"></i> Mon - Sat: 9:00 - 18:00
                                        Sunday CLOSED
                                    </p>
                                    <p class="col-white m-b-0">
                                        <i class="zmdi zmdi-pin"></i> 1422 1st St. Santa Rosa CA
                                        94559. United States
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div id="navbar" data-aos="fade-down">
                <div class="container">
                    <nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                                data-target="#navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarMenu">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
                                <li class="nav-item"><a class="nav-link" href="departments.html">Departments</a></li>
                                <li class="nav-item"><a class="nav-link" href="doctors.html">Doctors</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="pageMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">Blog</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="blog.html">Blog</a>
                                        <a class="dropdown-item" href="blog-detail.html">Blog Detail</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="pageMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">Pages</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="about.html">About Us</a>
                                        <a class="dropdown-item" href="faq.html">FAQs</a>
                                        <a class="dropdown-item" href="galary.html">Galary</a>
                                        <a class="dropdown-item" href="price-list.html">Price list</a>
                                    </div>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>
                            </ul>
                            <form class="form-inline input-group hidden-md-down m-b-0">
                                <div class="input-group m-b-0">
                                    <span class="input-group-addon">
                                        <i class="zmdi zmdi-search"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Search...">
                                </div>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <!-- start footer -->
            <footer id="footer">
                <div class="container">

                    <div class="row" data-aos="fade-up">
                        <div class="col-lg-4 col-md-12">
                            <div class="fcard about">
                                <h5 class="title">About Hospitals</h5>
                                <p>
                                    The relentless service of Hospitals in the past 25 years taken health care to the most modern
                                    levels in the region catering to urban & rural.
                                </p>
                                <p>
                                    A Health Care Provider of Western Approach, Hospitals is the most trusted multispecialty
                                    hospital.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="fcard links">
                                <h5 class="title">Usefull Links</h5>
                                <div class="row">
                                    <div class="col-6">
                                        <ul class="list-unstyled">
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Consultants</a></li>
                                            <li><a href="#">Working Hours</a></li>
                                            <li><a href="#">Procedures</a></li>
                                            <li><a href="#">Special Offers</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul class="list-unstyled">
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">Healthy Foods</a></li>
                                            <li><a href="#">Appointments</a></li>
                                            <li><a href="#">Latest News</a></li>
                                            <li><a href="#">Certificates</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="fcard contact links">
                                <h5 class="title">Contact Details</h5>
                                <ul class="list-unstyled">
                                    <li><i class="zmdi zmdi-pin"></i>Park Drive, Varick Str NY 10012, USA</li>
                                    <li><i class="zmdi zmdi-email"></i>Getwell@Hospitals.com</li>
                                    <li><i class="zmdi zmdi-phone"></i>(123) 0200 12345 & 7890</li>
                                    <li><i class="zmdi zmdi-time"></i>Mon-Friday: 9am to 18pm</li>
                                    <li><i class="zmdi zmdi-time"></i>Sat-Sunday: 10am to 16pm</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <small>
                                    Copyright &copy; 2018 Oreo Theme by <a href="http://thememakker.com/" target="_blank">ThemeMakker</a>
                                </small>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="up"><a href="#header"><i class="zmdi zmdi-caret-up-circle"></i></a></div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="social float-md-right">
                                    <a href=""><i class="zmdi zmdi-facebook m-r-10"></i></a> <a href=""><i class="zmdi zmdi-twitter m-r-10"></i></a> <a href="">
                                        <i class="zmdi zmdi-dribbble m-r-10"></i>
                                    </a> <a href="">
                                        <i class="zmdi zmdi-behance m-r-10"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div>
    <!-- start screpting -->
    <script src="~/bundles/libscripts.bundle.js"></script>
    <script src="~/js/app.js"></script><!-- my js -->
    <script src="~/js/countTo.js"></script>
</body>
</html>
