@model Vativo.UI.ViewModels.ChangePasswordViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = ":: VativoRx :: Change Password";
    if (@HttpContextAccessor.HttpContext.Session.GetString(Utility.ISFIRSTTIMELOGIN) == "true")
    {
        Layout = "~/Views/Shared/_LoginLayout.cshtml";
    }
}

<form method="post" class="changePasswordForm">
    <div class="col-xs-12 col-sm-6 changeMain">
        <div class="row change-main chngBg changePassWrapper">
            <h3 class="client-hdg chang-hdg">Change Password</h3>
            <hr />
            <div class="@ViewBag.cssClass" role="alert">
                <strong>@ViewBag.message</strong>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="contact-form">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 innerFormWrapper">
                            <div class="form-group">
                                <label for="Phone" class="phone-label">Customer Id</label><span class="required Validation-Color">*</span>
                                <input asp-for="CustomerId" class="form-control allownumericwithoutdecimal" />
                                <span asp-validation-for="CustomerId" class="Validation-Color"></span>
                                <div class="form-group  change-main-btn">
                                    <input type="button" value="Get Customer Id" class="btn btn-primary btn-round" onclick="location.href=' @Url.Action("GetCustomerIdEmail", "User")'" />
                                </div>
                            </div>
                            @*}
                                else
                                {
                                <div class="form-group">
                                    <label for="Phone" class="phone-label">Current Password</label><span class="required Validation-Color">*</span>
                                    <input asp-for="OldPassword" class="form-control" maxlength="15" />
                                    <span asp-validation-for="OldPassword" class="Validation-Color"></span>
                                    <input type="hidden" asp-for="LastThreePassword" />
                                </div>
                                }*@
                            <div class="form-group">
                                <label for="Phone" class="phone-label">New Password</label><span class="required Validation-Color">*</span>
                                <input asp-for="Password" class="form-control" maxlength="15" />
                                <span asp-validation-for="Password" class="Validation-Color"></span>
                            </div>
                            <div class="form-group">
                                <label for="Phone" class="phone-label">Confirm Password</label><span class="required Validation-Color">*</span>
                                <input asp-for="ConfirmPassword" class="form-control" maxlength="15" />
                                <span asp-validation-for="ConfirmPassword" class="Validation-Color"></span>
                            </div>
                            <div class="form-group"><div class=@ViewBag.cssClass asp-validation-summary="ModelOnly"></div></div>
                            <div class="form-group  change-main-btn">
                                <input type="submit" value="Change Password" class="btn btn-primary btn-round" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);
</script>

<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };@*Added by Pooja on 04/02/20*@
    $(".allownumericwithoutdecimal").on("keypress keyup blur", function (event) {
        $(this).val($(this).val().replace(/[^\d].+/, ""));
        if ((event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    });
   $(document).ready(function () {
       $("#CustomerId").rules("add", {
           //required: true,
           maxlength: 10,
           messages: {
               //required: "Required input",
               maxlength: jQuery.validator.format("Please enter 10 digit valid Customer Id")
           }
       });
   })
</script>